
/* *********************** */
/* ******* NAV BAR ******* */


.bg-light {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Ombre*/
    background-color: #262c33!important;
    
}

.navbar-light .navbar-brand {/*violet pour WeBeats*/
    color: rgba(121, 6, 247, 0.9);
}

.navbar-light .navbar-nav .nav-link {/*couleur texte navbar*/
    color: #f8f9fa;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover { /*bleu turquois qd on passe sur les mots de la navbar*/
    color: rgb(32, 227, 236);
}

/s

.dropdown-item:focus, .dropdown-item:hover {/*couleur sous menu et bleu turquoie qd tu passes sur les mots*/
    color: rgb(32, 227, 236);
    text-decoration: none;
    background-color: #1d2124;
}


.dropdown-menu{ /* couleur fond sous menu
    */
    background-color: #1d2124;
}



/* *****************s****** */
/* BACKGROUND VIDEO HEADER */

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#BACKGROUNDVIDEO1 {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay-sombre {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/* Bouton Inscription */
.btn-danger {
    color: #fff;
    background-color: rgba(121, 6, 247, 0.9);
    border-color: rgba(121, 6, 247, 0.9);
}
.btn-danger:hover {/*qd on passe sur le bouton*/
    color: #fff;
    background-color: #4e0f88;
    border-color: #4e0f88;
}
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: rgba(121, 6, 247, 0.9);
    border-color: rgba(121, 6, 247, 0.9);
}
.btn-danger.focus, .btn-danger:focus {
    color: #fff;
    background-color:#4e0f88;
    border-color: #4e0f88;
    box-shadow: 0 0 0 0.2rem #4e0f88;
}




/******** SECTIONS *****/
/*section 1 */
section:first-of-type {
    background: linear-gradient(to right, #5d4157, #a8caba);
}

/*section 2 */
section:nth-of-type(2) {
    background: #14181b;
}

/* section 3 */
section:nth-of-type(3) {
    background: #121618;
}

/* section 4 */
section:nth-of-type(4) {
    background: #121618;
}

/* section 5 */
section:nth-of-type(5) {
    background: #121618;
}



.mb-4, .my-4 {/*couleur titres de section*/
    color: white;
}








