
/* ******* IMPORT ******* */
/*********************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* ************************************************ */
/* ********* BODY (toute la page) ******** */






/* *********************** */
/* ******* NAV BAR ******* */


.bg-light {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Ombre*/
    background-color: #262c33!important;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link, .dropdown-item  {/*violet pour WeBeats, couleur texte navbar et couleur option du sous-menu */
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover { /*bleu turquoise qd on passe sur les mots de la navbar*/
    color: rgb(32, 227, 236);
}
.dropdown-item:focus, .dropdown-item:hover {/*couleur sous menu et bleu turquoie qd tu passes sur les mots*/
    color: rgb(32, 227, 236);
    text-decoration: none;
    background-color: #1d2124;
}

.dropdown-menu{ /* couleur fond sous menu
    */
    background-color: #1d2124;
}



/* *****************s****** */
/* SECTION 0 : BACKGROUND VIDEO + Title */

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#BACKGROUNDVIDEO1 {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay-sombre {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}


@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
/* *********************** */
/* ******* SECTION 1 : blabla ******* */
/* Bouton Inscription */
.btn-danger, .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {/*fb,twitter violet*/
    color: #fff;
    background-color: rgba(121, 6, 247, 0.9);
    border-color: rgba(121, 6, 247, 0.9);
}
.btn-danger:hover {/*qd on passe sur le bouton*/
    color: #fff;
    background-color: #4e0f88;
    border-color: #4e0f88;
}
.btn-danger.focus, .btn-danger:focus {
    color: #fff;
    background-color:#4e0f88;
    border-color: #4e0f88;
    box-shadow: 0 0 0 0.2rem #4e0f88;
}



/******** SECTIONS *****/
/*section 1 */
section:first-of-type {
    background: linear-gradient(to right, #5d4157, #a8caba);
}
/* carousel */
.d-block {/*les images des instrus*/
    width: 30%!important;
    margin-left: 290px;
}
.h5, h5, .carousel-caption p{/*Nom de la prod et nom du producteur*/
     margin-right: 450px;
}

/*section 2 */
section:nth-of-type(2) {
    background: #14181b;
}

/* section 3 */
section:nth-of-type(3) {
    background: linear-gradient(to left, #7728b2, #121618);
}

/* section 4 */
section:nth-of-type(4) {
    background: #121618;
}

/* section 5 */
section:nth-of-type(5) {
    background: linear-gradient(to left, #7728b2, rgb(119, 189, 193));
}

/*Slides des avis*/
.carousel-indicators li {
    border: none;
    background: #ccc;
}
.carousel-indicators li.active{/*couleur mini-barres*/
    background: rgb(32, 227, 236);
}
.text-success {/*couleur guillemets*/
    color: rgb(32, 227, 236)!important;
}
.bg-white {/*couleur de fond*/
    background-color: #000000!important;
}
.font-italic, .mb-4, .my-4 {/*couleur des textes/avis et couleur des titres de section*/
    color:white;
}
.text-dark {/*couleur des boutons*/
    color: rgb(32, 227, 236)!important;
}





/*Comment ca marche*/
#ccm h3{
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-top: 40px;
}

#ccm p{
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-bottom: 10px;
}

/*****FOOTER*****/


#button-addon1, i {
  color: white;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

.bg-info {
    background-color: #7728b2!important;
}


.text-mute {
    color: #f8f9fa!important;
}

.social-link {
    color: #fff;
    background: #7728b2;
    display: block;
    transition: all 0.3s;
}
.social-link:hover, .social-link:focus {
    color: white;
    text-decoration: none;
}

.social-link .icon {
    width: 4rem;
    text-align: center;
    margin-right: 1.5rem;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.social-facebook, .social-twitter, .social-youtube{
    background: #7728b2;
}

.social-facebook:hover, .social-facebook:focus {
    background: #2d4373;
}

.social-link-gradient.social-facebook {
    background: linear-gradient(to right, #3b5998, #718dc8);
}

.social-twitter:hover, .social-twitter:focus {
    background: #0087ba;
}

.social-youtube:hover, .social-youtube:focus {
    background: #cd201f;
}

