
/* ******* IMPORT ******* */
/*********************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/* **************************************************** 
********* GLOBAL ******** 
***************************************************** */

:root {
    --base-taille: 16px;
    --base-color1: #7728b2;
    
    --base-color2: #ff00c4;
    --base-color3: #ff3aff;
    /*  --base-font-family: 'Roboto', sans-serif;*/

}

body {

}

.btn:focus, .btn.focus {
    box-shadow: 0 0 0 0.1rem rgba(20, 230, 214, 0.12);
}



/* *****************s****** */
/* SECTION 0 : HEADER = BACKGROUND VIDEO + Title */

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 35rem;
    width: 100%;
    overflow: hidden;
}

#BACKGROUNDVIDEO1 {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay-sombre {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}


@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

/*Barre de recherche*/
.searchbar{
    height: 60px;
    margin: auto;
    max-width: 83%;
    background-color: #353b48;
    border-radius: 30px; /*forme arrondie de la barre*/
    padding: 10px;
}
.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    /*    max-width:  90%; le curseur descend en bas*/
    caret-color:rgba(121, 6, 247, 0.9);
    line-height: 40px;
}
.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}
.search_icon:hover{
    background: white;
    color: rgba(121, 6, 247, 0.9);
}



/******** SECTIONS ********/
/*section 1 */
section:first-of-type {
    background: linear-gradient(to right, #5d4157, #a8caba);
}
/* carousel */
.image_sons {/*les images des instrus*/
    width: 30%!important;
    margin-left: 290px;
}
.h5, h5, .carousel-caption p{/*Nom de la prod et nom du producteur*/
    margin-right: 450px;
}
.btnplay{/*couleur du bouton play*/ 
    background: rgba(121, 6, 247,0.5);
    border-color:  rgba(121, 6, 247,0.5);
}
.btnplay:hover, .btnplay.focus, .btnplay:focus{/*couleur du bouton play qd on passe ou clique dessus*/ 
    visibility: visible;
    background: rgb(121, 6, 247);
    border-color:  rgb(121, 6, 247);
    box-shadow: 0 0 0 0.2rem rgb(121, 6, 247);
}
.caroufleche{
    right: -9%;
}



/*section 2 */
section:nth-of-type(2) {
    background: #14181b;
}

/* section 3 */
section:nth-of-type(3) {
    background: linear-gradient(to left, #7728b2, #121618);
}
/*Comment ca marche*/
#ccm h3{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 40px;
}
#ccm p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 10px;
}

/* section 4 */
section:nth-of-type(4) {
    background: #121618;
}

/* section 5 */
section:nth-of-type(5) {
    background: linear-gradient(to left, #7728b2, rgb(119, 189, 193));
}
.bloc_avis{/*bloc des avis*/

}
/*Slides des avis*/
.carousel-indicators li {/*couleur mini-barres*/
    border: none;
    background: #ccc;
}
.carousel-indicators li.active{/*couleur de la mini-barre active*/
    background: rgb(32, 227, 236);
}
.guillemets {/*couleur guillemets*/
    color: rgb(32, 227, 236)!important;
}

.fleches {/*couleur des boutons qui font coulisser les avis*/
    color: rgb(32, 227, 236)!important;
}







/******************************************/
/******************FOOTER******************/
#boxsocial{
   
}

.footer__social {
  list-style: none;
  margin: -1.6rem 0 0 0;
}

.footer__social li {
  display: inline-block;
  font-size: 15px;
  padding: 0;
  margin-right: 4px;
  
  
}

.footer__social li a {
  display: block;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.03);
  color: #ffffff;
  border-radius: 50%;
      transition: all 0.2s;
    transition-timing-function: ease-in-out;
}

.footer__social li a:hover,
.footer__social li a:focus,
.footer__social li a:active {
  background-color: #5b4f96;
  color: #ffffff;
}

.footer__social li:last-child {
  margin-right: 0;
}

#button-addon1, i {
    color: white;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}

#foot {
    /*background-color: #7728b2!important*/;
    background: linear-gradient(to right, #13161a, #7327ad)!important;
}


.text-mute {
    color: #f8f9fa!important;
}
