body{
    background-color:#607D8B;
}

.audio-player {
    display: flex;
    align-items: center;
}

.play {
        display: block;
        width: 80px;
        height: 80px;
        border: 0;
        background-color: #7047b7;
        color: white;
        font-size: 30px;
        border-radius: 100000px;
        cursor: pointer;
    }


.seek-bar {
        margin: 30px;
        width: 400px;
        background-color: white;
        display: flex;
        align-items: center;
        border-radius: 100000px;
        cursor: pointer;
}        

.fill {
    height: 10px;
    background-color: #7047b7;
    border-radius: 100000px;
}




.handle {
    width: 10px;
    height: 10px;
    background-color: #9c27b0;
    border-radius: 100000px;
    margin-left: -5px;
    transform: scale(2);
    transition: all 0.1s;
}



.handle:hover {
    background-color: #9c27b0;
    transform: scale(3);
}
