#logoPlay {
    margin-left: 1.3rem;
    width: 1.5rem;
}
.single_player_container
{
    margin-top: 48px;
    padding-left: 10px;
}
.single_player
{
    width: 100%;
    background: #eef2f6;
    border-radius: 22px;
    padding-left: 23px;
    padding-right: 55px;
}
.single_player_inner
{
    height: 102px;
}
.jp-audio
{
    width: 100%;
}
.time_controls
{
    width: calc(100% - 193px);
    flex: 0 0 auto;
}
.player_controls_box
{
    width: 84px;
    padding-right: 25px;
    flex: 0 0 auto;
}
.player_bars
{
    width: calc(100% - 84px);
}
.player_progress_box
{
    width: calc(100% - 193px);
}
.player_controls > button:not(:last-of-type)
{
    margin-right: 5px;
}
.play_button
{
    width: 100%;
}
.player_button
{
    position: relative;
    width: 27px;
    height: 27px;
    background: transparent;
    border: solid 3px #948585;
    border-radius: 50%;
    outline: none !important;
    cursor: pointer;
    flex: 0 0 auto;
}
.player_button.jp-play
{
    background: #ff1a4b;
    border-color: #ff1a4b;
}
.player_button::after
{
    display: block;
    position: absolute;
}
.jp-play::after
{
    left: 6px;
    top: 3px;
    width: 11px;
    height: 13px;
    content: url(../images/play_small.png);
}
.jp-state-playing .jp-play
{
    background: #ff1a4b;
    border-color: #ff1a4b;
}
.jp-state-playing .jp-play::after
{
    top: 2px !important;
    left: 5px !important;
    content: url(../images/pause_small.png);
    left: 50%;
}
.jp-stop::after
{
    top: 7px;
    left: 7px;
    width: 7px;
    height: 7px;
    background: #948585;
    content: '';
}
.song_info
{
    position: absolute;
    top: -27px;
    left: 0;
}
.jp-artist
{
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: -1px;
}
.jp-title
{
    font-size: 14px;
    font-weight: 400;
    color: rgba(42,42,42,0.7);
    margin-top: 2px;
}
.jp-progress
{
    width: 100%;
    cursor: pointer;
}
.jp-seek-bar
{
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: transparent;
    margin-bottom: -5px;
}
.jp-seek-bar > div
{
    height: 2px;
    background: #949494;
}
.jp-play-bar
{
    height: 100%;
    background: #2ac275;
    overflow: visible !important;
}
.jp-play-bar > span
{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #2ac275;
}
.jp-current-time
{
    position: absolute;
    bottom: -35px;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    color: #b8b8b8;
}
.jp-duration
{
    position: absolute;
    bottom: -35px;
    right: 0;
    font-size: 16px;
    font-weight: 400;
    color: #b8b8b8;
}
.jp-volume-controls
{
    width: 193px;
    padding-left: 42px;
    flex: 0 0 auto;
}
.jp-volume-controls > div:first-child
{

}
.mute_button
{
    position: absolute;
    left: 42px;
    bottom: 19px;
}
.jp-mute
{
    position: relative;
    background: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;
}
.jp-mute::after
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: url(../images/mute_off_small.png);
}
.jp-state-muted .jp-mute::after
{
    content: url(../images/mute_on_small.png);
}
.jp-volume-bar
{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: transparent;
    overflow: hidden;
    cursor: pointer;
}
.jp-volume-bar > div
{
    width: 100%;
    height: 100%;
    height: 2px;
    background: #949494;
}
.jp-volume-bar-value
{
    height: 100%;
    background: #2ac275;
}

div {
    padding: 5px;
}