section {
    padding: 50px 0;
}
section.dashboard-counts div[class*='col-'] .item {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    padding: 5px 0;
}

.icon { 
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    min-width: 40px;
    max-width: 40px;
    border-radius: 50%;
    
    transform: translateY(3px);
}
section.dashboard-counts .title {
    font-size: 1.1em;
    font-weight: 300;
    color: #777;
    margin: 0 20px;
}
section.dashboard-counts .number {
    font-size: 1.8em;
    font-weight: 300;
}
strong {
    font-weight: 700;
}

section.dashboard-counts .row {
    padding: 30px 15px;
    margin: 0;
}
section.dashboard-counts .progress {
    margin-top: 10px;
    height: 4px;
}
.progress {
   
    display: flex;
   
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

/*-----------------------------------------------------------------------------------------*/

small {
    color: #aaa;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 400; 
} 

.statistic {
    padding: 20px 15px;
    margin-bottom: 15px;
}

.statistic strong {
    font-size: 1.5em;
    color: #333; 
    font-weight: 700;
    line-height: 1;
}
.statistic .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    min-width: 40px;
    max-width: 40px; 
    color: #fff;
    border-radius: 50%;
    margin-right: 15px;
}
/***/
.chart .title strong {
    font-weight: 700; 
    font-size: 1.2em;
}
.chart .title {
    padding: 15px 0 0 15px;
}
/********/
.card-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.card-close .dropdown-toggle {
  color: #999;
  background: none;
  border: none;
} 

.card-close .dropdown-toggle:after { 
  display: none;
}

.card-close .dropdown-menu {
  border: none;
  min-width: auto;
  font-size: 0.9em;
  border-radius: 0;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
}

.card-close .dropdown-menu a {
  color: #999 !important;
}

.card-close .dropdown-menu a:hover {
  background: #796AEE;
  color: #fff !important;
}

.card-close .dropdown-menu a i {
  margin-right: 10px;
  -webkit-transition: none;
  transition: none;
}

.dropdown-menu .dropdown-item {
  background: #fff;
  padding: 10px 20px;
  font-size: 0.8rem;
  color: #777;
  width: 100%;
}
.dropdown-menu .dropdown-item:hover {
  background: #f5f5f5;
}
.dropdown-menu .dropdown-item i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #796AEE;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.dropdown-menu .dropdown-item small {
  margin-left: 40px;
}
