

/* upload  image */
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#uploadCover {
    opacity: 0;
}

#uploadCover-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

/**** ***/
.bg-image {
    background-image: url('../img/wall1.jpg');
    background-size: cover;
    background-position: center center;
}
.overlay-gradient {
    position: relative;
}

.overlay-gradient::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #4FC3F7, #8E24AA);
    display: block;
    opacity: 0.55;
}

.overlay-dark {
    position: relative;
}

.overlay-dark::before { 
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #171218, #000);;
    display: block;
    opacity: 0.8;
}