body {

    background: #faf2e8;
    /*
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #f2e2da, #fff5fe);
    overflow-x: hidden;
    */

}
.login,
.image { 
    min-height: 100vh; 
}

.bg-image {
    background-image: url('https://res.cloudinary.com/mhmd/image/upload/v1555917661/art-colorful-contemporary-2047905_dxtao7.jpg');
    background-size: cover;
    background-position: center center;
}

label {
    color: black;
}

select {

    text-align: center;
    text-align-last: center;    

}


#divNaissance{
    justify-items: center;
    align-items: center;
    text-align: center;

}


::placeholder {
    color: #868686!important;
    font-size: 0.95em;
}
.spanAlertchamp {
    margin-left: 25%;
    color: red!important;
    font-size: 0.8rem;

}

.iconGradient { 
    width: 20px; 
    margin-right: 5px;
    margin-bottom: 8px;
} 

#imgduboug {
    display:block;
    margin:auto;
    width: 6em;

}

.iconDone {
    width: 20px;   
}
.spanDone{
    font-size: 1.1rem; 
    color: limegreen; 
} 




 /*Rounded tabs */

@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link { 
    border-radius: 50rem !important;
  }
}

.roundedImage{  
    overflow:hidden; 
    -webkit-border-radius:75%;
    -moz-border-radius:75%; 
    border-radius:75%;
    min-width:140px;
    height:140px; 
}

