/*Lecteur MP3*/
#aplayer{
	
	bottom: -100%;
	left: 0;
	width: 100%
	margin: 0;
	box-shadow: 0 -2px 2px #dadada;
	background-color: #fff;
	transition: all ease 0.5s;
}

#aplayer.showPlayer{
	bottom: 0;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded{
	background: #e0e0e0;
	height: 4px;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played{
	height: 4px;
	background-color: #2196F3 !important;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb{
	background-color: #2196F3 !important;
}