
.spanGenre {
    cursor: pointer;
    
}
 
:root{
    --taille-img : 80px;
    
}
/* PETIT MUSIC CARD */
.hover {  
    height: var(--taille-img );  
  width: var(--taille-img );   
  overflow: hidden;  
  position: relative; 
  padding-bottom: var(--taille-img );  
     
    
} 
 
.hover-overlay {
  width: 100%; 
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90; 
  transition: all 0.4s;
      
    background: rgba(0, 0, 0, 0.05);  
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
} 


.hover-5-title {
  position: absolute;
  bottom: 1rem;
  left: 0;
  transition: all 0.3s;
  padding: 2rem 3rem;
  z-index: 99;
}

.hover-5-title span {
  transition: all 0.4s;
  color: #47c650;
}

.hover-5:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}

/*
.hover-5:hover .hover-5-title {
  bottom: 0;
} 

.hover-5:hover::after {
  bottom: 0;
}
*/

.link_icon{/*bloc contenant le play*/
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    height: 50px;
    width: 50px;
    font-size: 12px;
    z-index: 100;
}

.playplay-btn{/*le play caché*/
    display:block;
    margin:auto;
     
    font-size: 40px;
    color: rgba(121, 6, 247, 0.9); 
    opacity: 0;
}

.playplay-btn:hover{/*le play apparait qd on passe dessus*/
    display:block;
    margin:auto;
    margin-top: 10%;
    font-size: 40px;
    color: #ff0000;
    opacity: 1;
    z-index: 100;
} 



.roundedImage{   
    overflow:hidden; 
    -webkit-border-radius:75%; 
    -moz-border-radius:75%; 
    border-radius:75%;
    width:140px;
    height:140px; 
}




