.membre-corps {
    background: rgba(121, 6, 247,0.9);
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,.3);
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
}

.membre-btn{
    margin-top: 20px 0;  
}

.membre-btn-voir{
    background:#7728b2;
    color: #ffffff;
    text-decoration: none;
    outline: none;
    padding: 5px 15;
    margin-top: 15px;
    border-radius: 10px;
    transition: ease-in .5s all ; /*animation d'entrée tous les 0.5 secondes sur tous les éléments*/
}
.membre-btn-voir:hover{
    transition: ease-out .5s all ;/*animation de sortie*/
    color: white;
    text-decoration: none;
    background: rgba(121, 6, 247,0.9);
}

.follow-btn:hover{
    background:rgba(121, 6, 247,1);
    color : #ffffff;
    transition: 0.5s;
}


