
/* ******* IMPORT ******* */
/*********************************************/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');


/* **************************************************** */

:root {

    --base-color1: #7728b2;
    --base-color2: #121619;
    --base-color3: #ff3aff;


    --base-color2: #121619;

    --base-police1: 'Quicksand', sans-serif;

    --base-taille1: 16px;
}

body,html {

    font-family: var(--base-police1);

}
