body {
    background: linear-gradient(to right, rgb(248, 77, 255), #ffba00)!important; 

    min-height: 100vh;
}
.btn-fini {
    color: #fff;
    background-color: #c700ff;
    border-color: #da00ff;
}
.btn-fini:hover {
    color: #fff;
    background-color: #7d129b;
    border-color: #7d129b;
}
