/*slides*/
.my_slides{
    display: flex;
}
.my_slides .items {
    width: 250px;
    height: 250px;
    margin: 1rem 10rem;
}
.my_slides .items img {
    width: 250px;
    height: 250px;
}
.slider-btn .prev1, .slider-btn .next1, .slider-btn .prev2, .slider-btn .next2 {
    background-color: #734d90;
    padding: 0.65rem 0.90rem;
    color: white;
/*    margin:0 0.1rem;*/
    border-radius:60%;
}
.slider-btn .prev1, .slider-btn .next1{
    top:145%;
}

.slider-btn .prev2, .slider-btn .next2{
    top : 240%;
}


.right-0{ 
    right: 0;
}

.position-top{
/*    position: absolute;*/
}

  